name: EC2 Runner Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, dev]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Verify Runner
        run: hostname

      - name: Build App
        run: mvn clean package

      - name: Build Docker Image
        run: docker build -t my-app .
